---
import { worksDetail } from "../../data/detail";
import Layout from "../../layouts/Layout.astro"
import HomeBtn from '../../components/btn.astro';
export function getStaticPaths() {
  return worksDetail.map(card =>  ({
        params: { id: card.id }
    }))
}
const { id } = Astro.params;
const currentUrl = `../../${worksDetail[id].photo}`;
---

<Layout title="Works Detail | Infinity Node">
<div class="flex mx-auto container gap-4 flex-col md:flex-row p-5 bg-white">
  <div class="img-wrapper flex-1 basis-1/2">
    <img src={currentUrl} alt={worksDetail[id].title} />
  </div>
  <div class="content-wrapper flex-1 basis-1/2">
    <h1 class="text-2xl md:text-3xl mb-5">{worksDetail[id].title}</h1>
  <p class="text-sm md:text-md text-black mb-4">{worksDetail[id].duscription1}</p>
  <p class="text-sm md:text-md text-black mb-4">{worksDetail[id].description2}</p>
  <p class="text-sm md:text-md text-black mb-4">{worksDetail[id].description3}</p>
  <p class="text-sm md:text-md text-black mb-4">{worksDetail[id].description4}</p>
  <a class="border-b-1 border-black text-sm md:text-md" href={worksDetail[id].url}>URL : {worksDetail[id].title}</a>
  </div>
</div>
<HomeBtn />
</Layout>
